<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
    input {
        width: 100%;
    }
    </style>
</head>

<body ng-app>
    <input type="range" ng-model="ourRangeValue">
    <input type="range" ng-model="ourRangeValue">
    <input type="range" ng-model="ourRangeValue">
    <input type="range" ng-model="ourRangeValue">
</body>

</html>
